<script>
  // import { JSONTree } from "svelte-json-tree";
  import data from "../../../../static/data/hourly_heating_december.json";
  import jsonpath from "jsonpath";

  //Global vars
  var BUILDING_TYPES = [];
  var CITY_DATA = [];
  var SELECTOR = "all";
  var MAX_STROKE_WIDTH = 10;

  //Set the dimensions
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //Get the cities
  var maxTypes = ["city", "building"]
  var cities = jsonpath.query(data, "$..city");
  cities = removeDuplicated(cities);
  maxTypes = removeDuplicated(maxTypes);
  var selectedCity = cities[0];
  var citiesSelectorData = {};
  for (let city of cities) {
    citiesSelectorData[city] = { checked: city == cities[0] };
  }
  var maxSelectorData = {};
  for (let mt of maxTypes) {
    maxSelectorData[mt] = { checked: mt == maxTypes[0] };
  }
  

  var maxValues = {}
  for(let index in cities){
    let city = cities[index];
    selectCity(city);
    let cityMax = 1;
    maxValues[city] = {}
    for(let bti in BUILDING_TYPES){
      let bt = BUILDING_TYPES[bti];
      let btmax = getMaxValue(getBuildingTypeData(bt));
      cityMax = Math.max(cityMax, btmax);
      maxValues[city][bt] = {"building": btmax};
    }
    for(let k of Object.keys(maxValues[city])){
      maxValues[city][k]["city"] = cityMax;
    }
  }


  selectCity(cities[0]);
  selectMax(maxTypes[0]);

  //Function to select the datapoints from a city.
  function selectCity(city) {
   // console.log("Selected city: " + city);
    selectedCity = city;
    CITY_DATA = getDataForCity(city);
    BUILDING_TYPES = getBuildingTypes(CITY_DATA);
  }
  
  function selectMax(selector) {
    console.log(selector);
    SELECTOR = selector;
  }

  function removeDuplicated(arr) {
    return arr.filter((e, i) => arr.indexOf(e) == i);
  }

  function getDataForCity(city) {
    return jsonpath.query(data, "$[?(@.city=='" + city + "')]");
  }

  function getBuildingTypes(cityData) {
    return removeDuplicated(jsonpath.query(cityData, "$..buildingtype"));
  }

  function getBuildingTypeData(buildingType) {
    // console.log(CITY_DATA);
    return jsonpath.query(
      CITY_DATA,
      "$[?(@.buildingtype=='" + buildingType + "')]"
    );
  }

  function getMaxValue(data) {
    let max = 1;
    for (let element of data) {
      max = Math.max(max, element["total_heating_energy"]);
    }
    return max;
  }
</script>

<div>
  <div class="row">
  <div class="col-6">
    <h1>Location</h1>
    {#each cities as city}
      <div class="form-check">
        <input
          class="form-check-input"
          name="city"
          type="radio"
          id={city}
          checked={citiesSelectorData[city]["checked"]}
          on:click={selectCity(city)}
        />
        <label for={city}>{city}</label>
      </div>
    {/each}
  </div>
  <div class="col-6">
    <h1>Scaling</h1>
    {#each maxTypes as type}
      <div class="form-check">
        <input
          class="form-check-input"
          name="maxtype"
          type="radio"
          id={type}
          checked={maxSelectorData[type]["checked"]}
          on:click={selectMax(type)}
        />
        <label for={type}>{type}</label>
      </div>
    {/each}
  </div>
</div>
  <div>
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each BUILDING_TYPES as building, i}
          {#each getBuildingTypeData(building) as data, index}
            <line
              x1={margin.left + (index * (innerWidth - margin.left)) / 744}
              y1={14 * i + margin.top}
              x2={margin.left +
                ((index + 1) * (innerWidth - margin.left)) / 744}
              y2={14 * i + margin.top}
              style="stroke-width:{(MAX_STROKE_WIDTH *
                data['total_heating_energy']) /
                maxValues[selectedCity][building][SELECTOR]}px"
            />
          {/each}
        {/each}
      </g>
    </svg>
  </div>

</div>

<style>
  h1 {
    text-align: center;
  }
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line {
    stroke: black;
    stroke-width: 1px;
  }
</style>
