<script>
  import jsonpath, { paths } from "jsonpath";
  import data from "../../../../static/data/hourly_electricity_vs_gas_december.json";
  import { scaleLinear } from 'd3-scale';
import { text } from "svelte/internal";
 

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  //Get the weeks 
var weeks = jsonpath.query(data, "$..week");
weeks = removeDuplicated(weeks);


function removeDuplicated(arr) {
  return arr.filter((e, i) => arr.indexOf(e) == i); 
}

function getDataPerWeek(week){   
  return jsonpath.query(data, "$[?(@.week=='" + week +"')]"); 
  };


var dataByWeek = {};
  for(let index in weeks){
    let week = weeks[index];
    dataByWeek[week] = getDataPerWeek(week);
  }
  
  console.log(dataByWeek); //TODO

  function getMaxValue(data) {
    let max = 1;
    for (let element of data) {
      max = Math.max(max, element["total_electrity"]);
      max = Math.max(max, element["total_gas"]);
    }
    return max;
  }
  function getMinValue(data) {
    let min = 9999999;
    for (let element of data) {
      min = Math.min(min, element["total_electrity"]);
      min = Math.min(min, element["total_gas"]);
    }
    return min;
  }
  //Scales 
  const scaleX1=scaleLinear().domain([0,168]).range([0,230]);
  const scaleX2=scaleLinear().domain([0,168]).range([0,-230]);
  const scaleY1=scaleLinear().domain([getMinValue(data),getMaxValue(data)]).range([0,-45]);
  const scaleY2=scaleLinear().domain([getMinValue(data),getMaxValue(data)]).range([0,45]);

//Definition of the paths
  function processDataForWeek(week,hour,row_index,total_hours, type){
    let originX=innerWidth/2;
    let originY=570 - ( 95*(row_index+1));
   
    let data=dataByWeek[week][hour];
    let next_hour = hour + 1;
    if(next_hour >= total_hours){
      next_hour=0;
    }
    let next_data=dataByWeek[week][next_hour];
    let CurrentX= 0;
    let NextX=0;
    let CurrentY=0;
    let NextY=0;
    if(row_index%2==0){
      //Filas de la derecha
        CurrentX=originX+scaleX1(hour);
        NextX=originX+scaleX1(next_hour);
    }
    else{//Filas de la izquierda
      CurrentX=originX+scaleX2(hour);
      NextX=originX+scaleX2(next_hour);
    }
    if(type=="total_electrity"){
      CurrentY=scaleY1(data["total_electrity"]);
      NextY=scaleY1(next_data["total_electrity"]);
      //console.log("CurrentY  electricity"+CurrentY);
    }else{
      CurrentY=scaleY2(data["total_gas"]);
      NextY=scaleY2(next_data["total_gas"]);
      //console.log("CurrentY  gas"+CurrentY);
    }
    //console.log("This is supposed to be  elect="+scaleY1(data["total_electrity"]));
    //console.log("This is supposed to be  gas="+scaleY2(data["total_gas"]));
    return "M"+CurrentX+","+(originY+CurrentY)+",L"+NextX+","+(originY+NextY);
  }
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
     {#each weeks as  week,i}
    <line x1={innerWidth/2} y1="90" x2={innerWidth/2} y2="480"/>
      //Data on the left
        //Weeek5
    <line x1={innerWidth/2} y1="95" x2={innerWidth/2+230} y2="95"/>
        //Week3
    <line x1={innerWidth/2} y1="285" x2={innerWidth/2+230} y2="285"/>
      //Week 1
    <line x1={innerWidth/2} y1="475" x2={innerWidth/2+230} y2="475"/>
      //Data on the right
        //Week4
    <line x1={innerWidth/2-230} y1="190" x2={innerWidth/2} y2="190"/>
        //week2
    <line x1={innerWidth/2-230} y1="380" x2={innerWidth/2} y2="380"/>

    //Paths

    {#each dataByWeek[week] as _ , index}
    <!-- {console.log("hora index"+ index+" row index" + i+ " lenght "+ dataByWeek[week].length)} -->
    <path d="{processDataForWeek(week, index,i,dataByWeek[week].length,"total_electrity")}" class=electricity/>;

    <path d="{processDataForWeek(week, index,i,dataByWeek[week].length,"total_gas")}" class=gas/>; 
    
    {/each}
    {/each}
    
  <text x={innerWidth/2} y={innerHeight} font-size="30" text-anchor=middle >
      Baltimore (December 2014)
  </text>

  </g>
</svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line{
    stroke:black;
    stroke-width: 2px;
  }
  .electricity{
    stroke:blue;
    stroke-width: 3px;
  }
  .gas{
    stroke:orange;
    fill:orange;
    stroke-width: 3px;
  }
  
</style>
