<script>

  import data from "../../../../static/data/daily_heating_cooling.json";
    import jsonpath from "jsonpath";
    import { scaleLinear } from 'd3-scale';
  import { create_in_transition } from "svelte/internal";
  
  
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
  
      //Get the cities 
    var cities = jsonpath.query(data, "$..city");
    cities = removeDuplicated(cities);
    var defaultCity = cities[0];
    var citiesSelectorData = {};
    for(let city of cities){
      citiesSelectorData[city] = {"checked": city == defaultCity};
    }
  
  
    function removeDuplicated(arr) {
      return arr.filter((e, i) => arr.indexOf(e) == i); 
    }
  
    function getDataForCity(city){    
      return jsonpath.query(data, "$[?(@.city=='" + city +"')]");
    }
  
    function getMaxValue(data) {
      let max = 1;
      for (let element of data) {
        max = Math.max(max, element["heating"]);
        max = Math.max(max, element["cooling"]);
      }
      return max;
    }
  
    function getMinValue(data) {
      let min = 9999999;
      for (let element of data) {
        min = Math.min(min, element["heating"]);
        min = Math.min(min, element["cooling"]);
      }
      return min;
    }
   
    //Day Scale
    const scaleDay=scaleLinear().domain([0,365]).range([0,360])
  
  
    var dataForDaysByCity = {};
    for(let index in cities){
      let city = cities[index];
      dataForDaysByCity[city] = getDataForCity(city);
    }
  
    function getRadiusScale(city){
      return scaleLinear().domain([getMinValue(getDataForCity(city)),getMaxValue(dataForDaysByCity[city])]).range([0,60]);
    }
  
    function processDay(city, day, type, originX, originY) {
      let data = dataForDaysByCity[city][day];
      let day_of_year = data["day_of_year"];
      let currentAngle = scaleDay(day_of_year);
      let radius = getRadiusScale(city)(data[type]);
      let next_day = day + 1;
      if(next_day >= 365){
        next_day=0;
      }
      let currentX = radius * Math.cos((currentAngle - 90) * Math.PI / 180);
      let currentY = radius * Math.sin((currentAngle - 90) * Math.PI / 180);
    
      return (currentX+originX)+","+(currentY+originY);
    }
  
    function processData(city, circle_index, type){
      let originX = 145*(circle_index+1);
      let originY = innerHeight/2;
      let points = "";
      for (let index in dataForDaysByCity[city]){
        points += processDay(city, (+index), type, originX, originY) + " ";
      }
      return points;    
    }
  
  </script>
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      
      {#each cities as city,i}
      <text x={145*(i+1)} y="30" text-anchor=middle>{city}</text>
      <text x={145*(i+1)} y={innerHeight/2-60} text-anchor=middle>0</text>
      <text x={145*(i+1)} y={innerHeight/2+60} text-anchor=middle dominant-baseline=hanging>6</text>
      <text x={145*(i+1)-60} y={innerHeight/2} text-anchor=end dominant-baseline=middle>9</text>
      <text x={145*(i+1)+60} y={innerHeight/2} text-anchor=start dominant-baseline=middle>3</text>
      <circle cx={145*(i+1)} cy={innerHeight/2} r="60"/>
      <line x1={145*(i+1)} y1="55" x2={145*(i+1)} y2="175"/>
      <line x1={145*(i+1)-60} y1={innerHeight/2} x2={145*(i+1)+60} y2={innerHeight/2}/>
      <polygon class="heating" points="{processData(city, i, "heating")}" />
      <polygon class="cooling" points="{processData(city, i, "cooling")}" />
      {/each}
  
    </g>
  </svg>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    .cooling{
      fill: lightblue;
      stroke: blue;
      stroke-width: 0.5;
      opacity: 60%;
    }
    circle{
      stroke:black;
      fill:white; 
    }
    .heating {
      fill:lightcoral;
      stroke:red;
      stroke-width:0.5;
      opacity: 60%;
  
    }
    text{
      stroke-width: 1,5px;
      stroke:black;
    }
    line{
      stroke:black;
    }
   
  </style>
  