<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="{current === 'Messi' ? 'selected' : ''}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="{current === 'Ronaldo' ? 'selected' : ''}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="{current === 'Neymar' ? 'selected' : ''}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
	button {
		display: block;
	}
	.selected {
		background-color: #008cff;
		color: rgb(255, 255, 255);
	}
</style>