<script>
    const student={name: "Laura Fernandez"}
    const myfavs=["Cooking", "Doing sports", "Listen to music"]
</script>
<p> My name is {student.name} and these are some of my 
favourite things: {myfavs}.
</p>
