<script>
  // Properties
  export let data = [];
  export let year=0;
  const continents = ["europe", "asia", "americas", "africa"];
  
  function ResetClick(event) {
    var elem = document.getElementById("startButton");
    year=0;
    clearInterval(MyInterval);
    elem.value="Start";
	}
  
                                           
    $: get_xy = function(idx) {                            
        let y = 25 + (Math.floor(idx / year) * 50) 
        let x = 25 + ((idx % year) * 50)
        return [x,y] 
    }

  var MyInterval;  
  

function StartStop(event){
      var elem = document.getElementById("startButton");
    if(elem.value=="Start"){
        elem.value="Stop";
        MyInterval=setInterval(function() {year += 1}, 50);
    } else {
       elem.value="Start";
        clearInterval(MyInterval);
    } 
}


</script>

<div class="column">
  <input type="button" value="Start" on:click={StartStop} id="startButton" class="btn btn-primary">

  <button type="button" class="btn btn-primary" on:click={ResetClick}>
    Reset
  </button>
 Year:{year+1800}
  <input type="range" min="0" max="214" bind:value={year} /><br/> 

</div>
