<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}

    function Reset(event) {
		count = 0;
	}

    
</script>

<button type="button" class="btn btn-primary" on:click={handleClick}>
	You clicked {count} times
</button>
<button type="button" class="btn btn-danger" on:click={Reset}>
	Reset
</button>