<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  let selected_point=0;
  setInterval(function() {selected_point += 1}, 1500);
</script>
<style>
  circle {
    fill-opacity: 0.3;
  }
  circle.selected {                          
    fill-opacity: 1;
  }
  circle.final {                          
    fill-opacity: 1;
    fill:darkgreen;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as point,i}
    <circle cx={point} cy={innerHeight/2}  r="10" fill={color}
    class:selected="{i >= 5-selected_point}"
    class:final="{selected_point>=6}"/>
    {/each}
  </g>
</svg>
