<script>
  //Import 
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { scaleLog } from 'd3-scale';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  const scaleX = scaleLog().domain([1, 10]).range([margin.left,innerWidth]);
  const xAxis=axisBottom(scaleX);
  function sel(handle){
    xAxis(select(handle));
  }
  
</script>

<svg viewBox="0 0 {width} {height}">
  
    <g transform="translate({margin.left},{margin.top})" >
    {#each values as value}
    <circle cx={scaleX(value)} cy="30"  r="10" fill="teal"/>
    {/each}
    </g>
  
  <g transform= "translate({margin.left},{innerHeight})">
    <g use:sel> 
    </g>
  </g>

  <text x={innerWidth/2} y="100">
      x label
  </text>
</svg>

<style>
  text {
    stroke:currentColor;
    font-size: x-small;
    font-weight:lighter ;
    
  }
</style>
