<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const scaleX=scaleLinear().domain([0,10]).range([5,innerWidth+5]);
  const scaleY=scaleLinear().domain([1,3]).range([innerHeight-25,0]);
  const scaleColour=scaleOrdinal(schemeDark2);
  

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scaleX(value.x)} 
            cy={scaleY(value.y)}
            r=5
            style={"fill:"+scaleColour(value.category)}/>
    <text x={scaleX(value.x)}
          y={scaleY(value.y)-10}>
        {value.y}
    </text>    
    <line x1={scaleX(value.x)} y1={scaleY(value.y)+5} x2={scaleX(value.x)} y2="75" />
    {/each}
  
  </g>
    <line x1="0" y1="95" x2="800" y2="95" />
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
 line{
   stroke:black;
 }
</style>
