<script>
   import { scaleLinear } from 'd3-scale';
   import { scalePoint } from 'd3-scale';
   import { axisBottom } from 'd3-axis';
   import { axisLeft } from 'd3-axis';
   import { select } from 'd3-selection';
import { text } from 'svelte/internal';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const scaleX=scalePoint().domain(["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten",""]).range([0,innerWidth]);
  const scale=scaleLinear().domain([0,6]).range([0,innerWidth]);
  const scaleY=scaleLinear().domain([0,3]).range([innerHeight,0]);
  const barWidth= innerWidth/7;
  const yAxis=axisLeft(scaleY);
  function sel(handle){
    yAxis(select(handle));
  }
  
  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  
  let xAxis=axisBottom(scaleX);
  
  function sel2(handle){
    xAxis(select(handle));
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as company,i}
      <rect x="{scale(i)+15}" y="{scaleY(company.viewers)}" width="{barWidth-10}" height="{innerHeight - scaleY(company.viewers)}"/>
    {/each}
  </g>

  <g transform= "translate({margin.left},{margin.top})">
    <g use:sel> 
     
    </g>
  </g>
  <g transform= "translate({margin.left+10+barWidth/2},{innerHeight+margin.top})">
    <g use:sel2> 
    </g>
  </g>
  <text x="10"
  y="30"
  transform="rotate(270,100,100)">
      Viewers(Millions)

  </text>
  
</svg>

<style>
  rect{
    fill:purple
  }
  text {
    font-weight:lighter ;
    font-size: x-small ;
    stroke:black;

  }
</style>
